*{
  box-sizing: border-box;
}

#box{
  width: 850px;
  margin: 0 auto;
}

#box2 {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  background: #f36283;
}
